$black: #262626;
$whiteish: #f0f0f0;
$red: #F32E2C;
$teal: #B4D6CC;



$navHeight: 80px;

$navBtnWidth: 21px;
$navBtnLineHeight: 2px;
$navBtnColor: $red;
$navBtnMargin: 4px;
$navBtnClickPadding: 15px;