<header class="site-header">

  <div class="container">
    <a href="/" class="site-title icon-hcroft">{{ site.title }}</a>

    <div class="show-nav">
      <div class="show-nav-icon"></div>
    </div>

    <nav class="site-nav row">

      <div class="social col-md-10">
        <h5>Socialize</h5>
        <ul>
          {% for val in site.data.social %}
          <li><a href="{{ val[1] }}" class="icon-{{ val[0] | downcase }}" target="blank">{{ val[0] }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <ul class="main-nav col-md-2 pull-right">
        {% for val in site.data.nav %}
        <li><a href="{{ val[1] }}" class="page-link">{{ val[0] }}</a></li>
        {% endfor %}
      </ul>

    </nav>
  </div>


</header>
